<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/css/inicio.css" />
    <title>Inicio</title>
</head>

<body>
    <h1>Pagina de Inicio</h1>
    <% if (login) { %>
        <h1>El usuario conectado es: <strong><%= user %></strong></h1>
        <a href="logout" class="a-logout">Logout</a>
        <% } else{ %>
            <h1><strong><%= user %></strong></h1>
            <a href="ingreso" class="a-login">Ingresar</a>
            <% } %>
</body>

</html>
